/* SignupPage specific styles */

/* Input placeholder styling for this component only */
.birthdayInput::placeholder {
  color: #A3A3A3;
  opacity: 1 !important;
}

.birthdayInput::-webkit-input-placeholder {
  color: #A3A3A3;
  opacity: 1 !important;
}

.birthdayInput::-moz-placeholder {
  color: #A3A3A3;
  opacity: 1 !important;
}

.birthdayInput:-ms-input-placeholder {
  color: #A3A3A3;
  opacity: 1 !important;
}

.birthdayInput::-ms-input-placeholder {
  color: #A3A3A3;
  opacity: 1 !important;
}

/* Remove number input spinner arrows */
.birthdayInput::-webkit-outer-spin-button,
.birthdayInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.birthdayInput[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

